.tt-banner-img {
    object-fit: cover;
    height: 100vh;
}

.tt-title-banner {
    position: relative;
    font-family: 'Great Vibes', cursive;
    top: -60%;
    font-size: 10rem;
}

.tt-header {
    height: 100vh;
    background: black;
    margin-bottom: 70px;
}

.tt-hot {
    font-size: 3rem !important;
}