.tt-banner-img {
    object-fit: cover;
    height: 100vh;
}

.tt-title-banner {
    position: relative;
    font-family: 'Great Vibes', cursive;
    top: -60%;
}

.tt-header {
    height: 100vh;
    background: black;
    margin-bottom: 70px;

    .tt-em {
        top: -100% !important;
        left: 5%;
    }
}

.tt-hot {
    font-size: 3rem !important;
}