.c-pointer {
    cursor: pointer;
}

.tt-font-curve {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
}

.tt-curve {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.text-right {
    text-align: right;
}

.f-bold {
    font-weight: bold;
}