.tt-logo {
    width: 70px;
}

.tt-nav-item {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
        color: white;
        padding: 5px 0;
        border-bottom: 2px solid transparent;
        text-decoration: none !important;

        &:hover {
            border-bottom: 2px solid white;
            transition-duration: .4s;
        }
    }
}

.tt-nav {
    li {
        display: inline;
    }
}

.tt-title {
    font-size: 3rem;
}

.tt-navbar {
    background: rgba(32, 32, 32, .6) !important;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}