.tt-footer {
    padding-top: 100px;
    margin-bottom: 100px;
}

.tt-footer-main {
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: center;

}

.tt-sign {
    height: 70px;
    color: white;
}